<div class="card">
    <form [formGroup]="form">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">{{ action }}</h4>
        </div>
        <div class="card-body" style="margin-top: 20px;">
            <input
            type="number"
            style="display: none;"
            formControlName="id"
            >
            <div *ngFor="let item of formInputArr">
                <mat-form-field class="example-full-width" [ngClass]="{'has-success' : form.get(item[0]).valid}">
                <input
                matInput
                type="{{item[1]}}"
                placeholder="{{item[0]}}"
                formControlName="{{item[0]}}"
                >
                <mat-error *ngIf="!form.get(item[0]).valid && form.get(item[0]).touched">
                    Please enter a valid {{item[0]}}
                </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="card-footer text-right">
            <div class="form-group">
                <button mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </form>
</div>